<!DOCTYPE html>
<html>
  <head>
    <title>All C-ing I</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
