<html>
	<head>
		<title>AllCI burndown</title>
		<style type="text/css">
      html, body {height: 100%; min-height: 100%}
			body { background-color: #fafafa; font: 10pt Helvetica, Arial, sans-serif; margin: 0; }
			.runner { margin-bottom: 40px; }
			.worker { height: 20px; position: relative; }
			.worker:nth-child(even) { background: rgba(220, 220, 220, 0.3); }
      .worker > span { line-height: 20px; padding-left: 5px; }
			.framework, .file { position: absolute; top: 0px; height: 19px; line-height: 19px; border: 1px solid #ccc; border-top: none; white-space: nowrap; overflow: hidden; }

      .framework, .file > div {
        background: red;
        border: 1px solid black;
        float: left;
        position: absolute;
      }

      .intro {
        background: #1c1c1c;
        color: #fafafa;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
      }

      .label {
        color: #fafafa;
        padding: 4px;
        border-radius: 3px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: inline-block;
        /*margin: 4px;*/
        box-sizing: border-box;
      }

      .runner > .label {
        font-size: 1.2em;
        background: #5F259F;
      }

      .configuration > .label {
        font-size: 1.0em;
        background: #F04E98;
      }
			.file.success { background-color: #bbeebb; }
			.file.failed,.file.aborted { background-color: #ffcccc; }
      .file.running { background-color: #ccccff; }
			.file.retried { background-color: #ffffcc; }
			.framework { background-color: white; color: #007700; font-size: 7.5pt; font-weight: bold; }

      .label + .configuration > .label {
        border-top-right-radius: 0;
      }
		</style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

